@page "/"
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>Bienvenidos a mi pagina</h3>
<div class="text-center">
    <p><br></p>
    <img class= "img-fluid" 
    src="https://steamuserimages-a.akamaihd.net/ugc/94981434109308086/C48931A89D64785945BD0D364A481DA5BAB2B323/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"/>
</div>

<p><br>La pagina que estas viendo ahora mismo fue creada utilizando blazor y contiene 
    informacion sobre su creador, una calculadora aritmetica, videos relacionados con blazor 
    que pueden ser de interes y una tabla de multiplicacion. </p>

<h3>frase motivacional sobre el aprendizaje de programación </h3>
<p><br></p>
<div class="text-center">
    <img class= "img-fluid" width="800px"
    src= "https://images.inc.com/uploaded_files/image/1920x1080/getty_502340507_200014451652766235372_345427.jpg">
</div>
<p><br>"No te compares con nadie en este mundo... si lo haces, te estás insultando a ti mismo". - Bill Gates.</p> 
    
<p> Una frase que nos hace refleccionar sobre cuanto nos solemos subestimar a nosotros mismos 
    al compararnos con otros sin darnos cuenta de cuanto valemos realmente.
</p>

